.select{
  width: 380px;
  select {
    width: 100%;
    box-shadow: 0 0 4px var(--black25);
    background: var(--white);
    border: 0.5px solid var(--greyDim);
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 0 8px 15px;
    appearance: none;
    outline: none;
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: -0.345714px;
    color: var(--black);
  }
}
