.select{
  width: 30vw;
  select {
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    background: white;
    border: 0.5px solid #BECAD6;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.58vw 0 0.58vw 1vw;
    appearance: none;
    outline: none;
    font-weight: normal;
    font-size: 1.1vw;
    line-height: 1.21vw;
    letter-spacing: -0.345714px;
    color: black;
  }
}