.select{
  width: 380px;
  select {
    width: 100%;
    box-shadow: 0 0 4px var(--black25);
    background: var(--white);
    border: 1px solid var(--greyDim);
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 15px 8px 15px;
    appearance: none;
    outline: none;
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: -0.345714px;
    transition: border ease 0.2s;
    color: var(--blackLight);
    text-overflow: ellipsis;
    &:disabled {
      cursor: auto;
      opacity: 0.5;
    }
  }
}

.error {
  border: 1px solid var(--red) !important;
}
