.alert {
  position: absolute;
  cursor: pointer;
  pointer-events: auto;
  padding: 15px 20px;
  max-width: 250px;
  border-radius: 4px;
  font-weight: 300;
  font-size: 1rem;
  transition: opacity ease 0.7s;
  text-align: start;
  bottom: 30px;
  right: 30px;
}
.error {
  color: var(--red);
  background-color: var(--redLight);
}

.success {
  color: var(--green);
  background-color: var(--greenLight);
}
