.alert {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  min-width: 290px;
  padding: 15px;
  border-radius: 6px;
  font-weight: 300;
  font-size: 1rem;
  transition: opacity ease 0.7s;
}

.alertActive {
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
}

.error {
  color: var(--red);
  background-color: var(--redLight);
}

.success {
  color: var(--green);
  background-color: var(--greenLight);
}
