.menu{
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100vh;
  background: var(--blueOne);
  padding: 30px 0;
  min-height: 677px;
  transition: all 0.2s ease-in;
  @media screen and (max-width: 1439px) {
    width: 7vw;
  }
  .titleBlock {
    display: flex;
    align-items: center;
    padding-left: 47px;
    @media screen and (max-width: 1439px) {
      justify-content: center;
      padding-left: 0;
    }
    img {
      width: 70px;
      margin-right: 25px;
      @media screen and (max-width: 1439px) {
        width: 50px;
        margin: 0;
      }
    }
    span {
      font-size: 35px;
      font-weight: bold;
      color: var(--white);
      text-align: center;
      @media screen and (max-width: 1439px) {
        display: none;
      }
    }
  }
  .actions {
    margin-top: auto;
    margin-bottom: auto;
    .action{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 58px;
      cursor: pointer;
      transition: all ease 0.4s;
      padding-left: 43px;
      @media screen and (max-width: 1439px) {
        padding-left: 0;
        justify-content: center;
      }
      img {
        width: 25px;
        margin-right: 20px;
        @media screen and (max-width: 1439px) {
          margin-right: 0;
        }
      }
      span {
        color: var(--white);
        font-weight: 300;
        @media screen and (max-width: 1439px) {
          display: none;
        }
      }
      &:hover{
        background: var(--blueTwo);
      }
    }
    .activeAction{
      background: var(--blueTwo);
    }
  }
  .aboutProject {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    button {
      color: var(--greyDim);
      cursor: pointer;
      background: none;
      border: none;
      transition: color ease 0.4s;
      font-weight: lighter;
      @media screen and (max-width: 1439px) {
        font-size: 14px;
      }
      &:hover {
        color: var(--white)
      }
    }
  }
}
