.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
  height: 100vh;
  background: var(--blueOne);
  min-width: 288px;
  .action{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 58px;
    cursor: pointer;
    color: var(--white);
    font-weight: 300;
    padding-left: 43px;
    transition: all ease 0.4s;
    &:hover{
      background: var(--blueTwo);
    }
  }
  .activeAction{
    background: var(--blueTwo);
  }
}
