.layout {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100%;
  .line {
    background: var(--greyDim);
    margin: 20px 50px 20px 85px;
    width: calc(100% - 135px);
    height: 1px;
  }
  .sectionName {
    font-size: 30px;
    font-weight: bold;
    margin-left: 85px;
    margin-top: 40px;
    color: var(--blueOne);
  }
  .actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    margin-top: 80px;
    margin-left: 85px;
    margin-bottom: 15px;
  }
  .mainPart{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
