.actions {
  display: flex;
  flex-direction: column;
  & > div {
    &:nth-child(n + 2) {
      margin-top: 20px;
    }
  }
  .action {
    display: flex;
    button {
      margin-left: 40px;
    }
  }
}
