.input {
  width: 380px;
  box-shadow: 0 0 4px var(--black25);
  background: var(--white);
  border: 1px solid var(--greyDim);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 0 8px 15px;
  outline: none;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: -0.345714px;
  color: var(--black);
  transition: border ease 0.2s;
  &:focus{
    border: 1px solid var(--blueThree);
  }
}

.error {
  border: 1px solid var(--red) !important;
}

input[type='file'] {
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.inputLabel {
  display: inline-block;
  border-radius: 4px;
  padding: 8px 0 8px 15px;
  border: 1px solid var(--greyDim);
  width: 380px;
  background: var(--white);
  box-shadow: 0 0 4px var(--black25);
  color: var(--black);
  cursor: pointer;
  transition: border ease 0.2s;
  .textChoose {
    color: var(--blackLight);
  }
}
