.section {
  display: flex;
  flex-direction: column;
  transition: all ease 0.7s;
  height: 72px;
  padding: 15px;
  overflow: hidden;
  margin-left: 72px;
  margin-top: 15px;
  .titleBlock {
    width: 500px;
    height: 43px;
    padding: 0 15px;
    background: var(--white);
    box-shadow: 0 0 4px var(--black25);
    border-radius: 6px;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 43px;
      span {
        display: inline-block;
        white-space: nowrap;
        overflow-x: auto;
        width: 90%;
      }
      svg {
        width: 10%;
        height: 50%;
        cursor: pointer;
        transition: all ease 0.7s;
      }
    }
    textarea {
      margin-top: 16px;
      width: 100%;
      min-height: 144px;
      height: 100%;
      outline: none;
      border: none;
    }
    button{
      margin-bottom: 15px;
    }
  }
  .activeTitleBlock{
    height: auto;
  }
}

.activeSection {
  height: auto;
}

.activeSvg {
  transform: rotate(180deg);
}
